<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863466915083-p0q95396u4u5ina4h92gtlfr9850iit2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863466915083-p0q95396u4u5ina4h92gtlfr9850iit2</string>
	<key>API_KEY</key>
	<string>AIzaSyDHC6QVOY-68ZbsjlYRQ5RafGldlgLEUZM</string>
	<key>GCM_SENDER_ID</key>
	<string>863466915083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sem5demo3</string>
	<key>PROJECT_ID</key>
	<string>sem5demo3</string>
	<key>STORAGE_BUCKET</key>
	<string>sem5demo3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863466915083:ios:8043938610cf42be208e0e</string>
</dict>
</plist>